@mixin hover {
    transition: all 150ms ease 0s;
}

html, body {
	overflow-x: hidden;
	width: 100%;
}

body p, body a, body ul, body ol {
	@include stainlesslight;
}

.lue-lisaa {
	color: #fff;
	background: $dark-green;
	text-transform: uppercase;
	padding: 0.5rem;
	text-align: center;
	border: 1px solid #fff;
	margin: auto;
	display: block;
	margin-top: 2rem;
	width: 100%;
	max-width: 300px;
	@include stainlesslight;
	@include hover;

	&:hover, &:focus {
		color: #fff;
		background: lighten($dark-green, 5%);
	}

	&:focus {
		outline: 1px dotted;
		outline-offset: -4px;
	}
}


.front-page h2, .page-content h1 {
		background: $dark-green;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		padding: 0.2rem;
		margin-bottom: 2rem;
		@include stainlessbold;

		@include breakpoint(medium) {
			font-size: 1.8rem;
		}
}


.avainluku {
	border: 1px solid $green;
	padding: 1.7rem 1rem 0.8rem 1rem;
	text-align: center;
	margin-bottom: 1.3rem;
	width: 48% !important;

	.first {
		text-transform: uppercase;
		margin-bottom: 0;
		font-size: 75%;

		@include breakpoint(large) {
			font-size: 100%;
		}

	}

	.number {
		color: $dark-green;
		font-size: 290%;
		line-height: 1.3;
		margin: 0;
		@include stainlessblack;

		@include breakpoint(large) {
			font-size: 320%;
		}

		@include breakpoint(large) {
			font-size: 350%;
		}
	}

	&:nth-of-type(2) {
		float: right;
	}

	@include breakpoint(medium) {
		width: 24% !important;
		margin-right: 1.3%;

		&:nth-of-type(2) {
			float: left;
		}

		&:nth-of-type(4) {
			margin-right: 0;
		}
	}

}


.toimiala-link, .newsletter-link {
	background: $dark-green;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 0.6rem;
	width: 100%;
	margin: 2rem auto 1.5rem auto;
	display: block;
	@include hover;

	&:hover, &:focus {
		color: #fff;
		background: lighten($dark-green, 5%);
	}

	&:focus {
		outline: 1px dotted !important;
		outline-offset: -4px !important;
	}
}

.newsletter-link {
	max-width: 300px;
	margin-top: 2.3rem;
	a {
		color: #fff !important;
	}
}



/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}