<div class="columns small-6 large-3 avainluku">
	<p class="first">Liikevaihto</p>
	<p class="number">70,4</p>
	<p>miljoonaa euroa</p>
</div>

<div class="columns small-6 large-3 avainluku">
	<p class="first">Liiketulos</p>
	<p class="number">3,5</p>
	<p>miljoonaa euroa</p>
</div>

<div class="columns small-6 large-3 avainluku">
	<p class="first">Henkilöstö</p>
	<p class="number">212</p>
	<p>henkilöä</p>
</div>

<div class="columns small-6 large-3 avainluku">
	<p class="first">Asiakastyytyväisyys</p>
	<p class="number">4,24</p>
	<p>/ 5</p>
</div>